<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="rond">
                <h1>LOGO</h1>
            </div>
            <ul>
                <li> <a href="{{ path('HomePage') }}">Acceuil</a></li>
                <li><a href="{{ path('All_Articles') }}">Articles</a></li>
                <li><a href="">Items 3</a></li>
                <li><a href="">Items 4</a></li>
            </ul>
        </header>
        <main>
            {% block content %}
                <article class="accueil">
                {% for article in articles %}

                       <h2><a href="{{ path('The_Article', { 'id': article.id}) }}">{{ article.title }}</a></h2>
                {% endfor %}
                </article>
                <div class="picture">
                <img src="{{ asset('asset/img/picture.jpg') }}" class="resp">
                </div>
            {% endblock %}
        </main>
        <footer>
            <div class="rond">
                <h1>LOGO</h1>
            </div>
        </footer>
    </body>
</html>
